.app {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;

}
.app__title{
    text-align: center;
    text-shadow: 0.2em 0.2em rgba(27, 27, 27, 0.164);
}
.app__card{
    background-color: #fff8;
    padding: 1.5em 2em;
    border-radius: 1.2em;
    width: 100%;
    max-width: 400px;
}
.app__phrase{
    margin-top: 15px;
    margin-bottom: 2em;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.app__btn{
    display: block;
margin-left: auto;
margin-right: auto;
font-family: 'Kalnia', sans-serif;
font-size: 1.2em;
font-weight: 600;
}